@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    margin: 0px;
}

#header {
    display: flex;
    background: rgb(24, 23, 23);
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
    background: rgb(24, 23, 23);
    height: 41px;
    width: 1366px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

#calc-color {
    border: 15px solid rgb(39, 35, 35);
    border-radius: 5px;
    background-color: rgb(39, 35, 35);
}

#display {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: right;
    width: 280px;
    height: 80px;
    font-size: 60px;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 3px;
    background-color: rgb(177, 177, 177);
}

#top-container, 
#body-container {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    background-color: rgb(39, 35, 35);
}


.top-grid, .number-grid, 
.operator-grid, .equal-grid,
#negative-num {
    width: 70px;
    height: 55px;
    border: 2px solid rgb(39, 35, 35);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

.operator-grid, .equal-grid, 
#backspace, #divide {
    background-color: rgb(25, 84, 212);
}

.top-grid {
    background-color: rgb(145, 140, 140);
}

.number-grid, #negative-num {
    background-color: lightgray;
}

.equal-grid {
    background-color: rgb(255, 115, 0);
}

.top-grid:hover {background-color: lightgray}
.top-grid:active {background-color: rgb(145, 140, 140)}

.number-grid:hover, 
#negative-num:hover {background-color: rgb(145, 140, 140)}
.number-grid:active, 
#negative-num:active {background-color:lightgray}

.operator-grid:focus, #divide:focus {background-color: rgb(0, 45, 141)}
.operator-grid:hover, #divide:hover, #backspace:hover {background-color: rgb(0, 60, 189)}
.operator-grid:active, #divide:active, #backspace:active {background-color: rgb(0, 45, 141)}

.equal-grid:hover {background-color: rgb(219, 99, 0)}
.equal-grid:active {background-color: rgb(182, 82, 0)}